@media only screen and (max-width:1095px) {
	.header_menu_desktop {
		position: fixed;
		left: 0;
		display: block;
		width: 100%;
		bottom: -100%;
		z-index: 200;
		transition: bottom .3s ease;
	}
	.show_header_menu_desktop {
		bottom: 0;
	}

	.list_header_menu_desktop {
		flex-direction: column;
		text-align: center;
		background: #040404e6;
	}
	.list_header_menu_desktop_item {
		margin: 25px 0px;
	}
	.header_icon_burger {
		display: block;
	}
}
@media only screen and (max-width:830px) {
	.list_footer_menu_desktop_item {
		margin-left: 15px;
	}
	.inner_footer {
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.footer_menu_desktop {
		margin-bottom: 20px;
	}
	.header_search {
		display: none;
	}
}
@media only screen and (max-width:720px) {

}
