@import "https://fonts.googleapis.com/css?family=Montserrat|Comfortaa:wght@400;500&display=swap";
$colorGray:#a6a6a6;
@-webkit-keyframes "blob-bottom" {
	25%,50%,75% {
		top: 50%;
		left: 100%;
	}
	100% {
		top: 0;
		left: 50%;
	}
}
@keyframes "blob-bottom" {
	25%,50%,75% {
		top: 50%;
		left: 100%;
	}
	100% {
		top: 0;
		left: 50%;
	}
}
@-webkit-keyframes "blob-left" {
	25% {
		top: 50%;
		left: 0;
	}
	50%,100% {
		top: 100%;
		left: 50%;
	}
}
@keyframes "blob-left" {
	25% {
		top: 50%;
		left: 0;
	}
	50%,100% {
		top: 100%;
		left: 50%;
	}
}
@-webkit-keyframes "blob-top" {
	50% {
		top: 0;
		left: 50%;
	}
	75%,100% {
		top: 50%;
		left: 0;
	}
}
@keyframes "blob-top" {
	50% {
		top: 0;
		left: 50%;
	}
	75%,100% {
		top: 50%;
		left: 0;
	}
}
@-webkit-keyframes "blob-spinner-mover" {
	0%,100% {
		top: 0;
		left: 50%;
	}
	25% {
		top: 50%;
		left: 100%;
	}
	50% {
		top: 100%;
		left: 50%;
	}
	75% {
		top: 50%;
		left: 0;
	}
}
@keyframes "blob-spinner-mover" {
	0%,100% {
		top: 0;
		left: 50%;
	}
	25% {
		top: 50%;
		left: 100%;
	}
	50% {
		top: 100%;
		left: 50%;
	}
	75% {
		top: 50%;
		left: 0;
	}
}
/* .spinner{
    width: 5em;
    position: absolute;
    height: 5em;
    background-color:  #04a49c;
    border-radius: 100%;
    -webkit-animation: pulses-anim 1.0s infinite ease-in-out;
    animation: pulses-anim 1.0s infinite ease-in-out;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
@keyframes pulses-anim {
	0%{
		-webkit-transform: scale(0);
    	transform: scale(0);
	}
	100%{
		-webkit-transform: scale(1);
	    transform: scale(1);
	    opacity: 0;
	}
} */
/*Scroll*/
* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	outline: 0;
	list-style: none;
}
body {
	font-family: 'Ubuntu',sans-serif;
	background: #16151a;
	font-size: 16px;
	height: 100%;
}
html {
	font-family: 'Ubuntu',sans-serif;
	background: #16151a;
	font-size: 16px;
	height: 100%;
}
p {
	font-family: 'Comfortaa',"Montserrat",sans-serif;
	font-weight: normal;
}
a {
	font-family: 'Comfortaa',"Montserrat",sans-serif;
	font-weight: normal;
	color: #fff;
}
span {
	font-family: 'Comfortaa',"Montserrat",sans-serif;
	font-weight: normal;
}
small {
	font-family: 'Comfortaa',"Montserrat",sans-serif;
	font-weight: normal;
}
button {
	font-family: 'Comfortaa',"Montserrat",sans-serif;
	font-weight: normal;
}
em {
	font-family: 'Comfortaa',"Montserrat",sans-serif;
	font-weight: normal;
}
g {
	font-family: 'Comfortaa',"Montserrat",sans-serif;
	font-weight: normal;
}
input {
	font-family: 'Comfortaa',"Montserrat",sans-serif;
	font-weight: normal;
}
label {
	font-family: 'Comfortaa',"Montserrat",sans-serif;
	font-weight: normal;
}
textarea {
	font-family: 'Comfortaa',"Montserrat",sans-serif;
	font-weight: normal;
	resize: vertical;
}
h1 {
	font-family: 'Montserrat',sans-serif;
	font-weight: bold;
}
h2 {
	font-family: 'Montserrat',sans-serif;
	font-weight: bold;
}
h3 {
	font-family: 'Montserrat',sans-serif;
	font-weight: bold;
}
h4 {
	font-family: 'Montserrat',sans-serif;
	font-weight: bold;
}
h5 {
	font-family: 'Montserrat',sans-serif;
	font-weight: bold;
}
h6 {
	font-family: 'Montserrat',sans-serif;
	font-weight: bold;
}
.wrapper {
	display: table;
	height: 100%;
	width: 100%;
}
main {
	display: table-row;
	height: 100%;
}
.main_color_text_link {
	color: #04a49c;
}
.text_mont {
	font-family: "Montserrat",serif;
}
.default_text_box {
	margin-top: 35px;
	margin-bottom: 35px;
	h1 {
		color: #dadada;
		margin-bottom: 35px;
	}
	p {
		line-height: 27px;
		margin-bottom: 20px;
		color: #dadada;
	}
}
.container {
	position: relative;
	max-width: 1280px;
	margin: 0 auto;
	padding-right: 15px;
	padding-left: 15px;
}
.beta {
	font-size: 11px;
	color: #dadada;
	text-transform: uppercase;
	background: #3e3e3e;
	border-radius: 3px;
	padding: 3px;
	margin-left: 5px;
	vertical-align: middle;
}
header {
	position: sticky;
	top: 0px;
	z-index: 25;
	padding: 25px 0;
	background: #23232340;
	transition: top .4s linear,background .4s linear;
}
.hideHeader {
	top: -90px;
	background: #040404e6;
}
.showHeader {
	top: 0px;
	background: #040404e6;
}
.header_icon_burger {
	display: none;
}
.burger_icon_mobile_menu {
	display: flex;
	align-items: center;
	position: relative;
	width: 26px;
	height: 26px;
	margin-right: 20px;
	cursor: pointer;
	z-index: 1;
	transition-duration: .25s;
	>span {
		display: block;
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #616161;
		transition-duration: .25s;
		&::before {
			display: block;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #616161;
			content: '';
			top: -9px;
			transition-duration: .25s;
		}
		&::after {
			display: block;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #616161;
			content: '';
			top: 9px;
			transition-duration: .25s;
		}
	}
}
#burger_icon_mobile_menu_check {
	display: none;
}
.burger_icon_mobile_menu_open {
	>span {
		transform: rotate(45deg);
		&::before {
			top: 0;
			transform: rotate(0);
		}
		&::after {
			top: 0;
			transform: rotate(90deg);
		}
	}
}
.unite_header_burger_brand {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.inner_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header_navbar_link {
	font-size: 32px;
	font-family: 'PT Sans',sans-serif;
	color: #fff;
	transition: color .3s ease;
	&:hover {
		color: #04a49c;
	}
}
.list_header_menu_desktop_item {
	margin: 0 10px;
	&:hover {
		.list_header_menu_desktop_link {
			color: #04a49c;
		}
	}
}
.list_header_menu_desktop_link {
	transition: color .3s ease;
	color: #fff;
	font-size: 18px;
}
.unite_header_search_accout {
	display: flex;
	align-items: center;
}

[v-cloak] {
	display: none;
}

$loader-height:35px !default;
$loader-width:35px !default;
$loader-color:#FFF !default;
$loader-duration:1.0s ;

@keyframes rotate-spiner {
	100% {
		transform: rotate(360deg);
	}
}

.spinner__loader {
	width: $loader-width;
	height: $loader-height;
	margin: 0 auto;

	.spinner__loader__inner__content::before,.spinner__loader__inner__content::after{
		content: '';
	    position: absolute;
	    border: 2px solid;
	    border-radius: 50%;
		width: 8%;
		height: 44%;
	}
	.spinner__loader__inner__content::before{
		border-color:$loader-color;
		opacity: .3;
	}
	.spinner__loader__inner__content::after{
		border-color: transparent ;
		border-bottom-color: $loader-color;
		animation:rotate-spiner $loader-duration infinite linear;
	}
}
.header_search {
	position: relative;
	.search__content__data__list__items__close{
		position: absolute;
	    right: 15px;
	    z-index: 2;
	    color: #fff;
	    top: 50%;
	    transform: translate(0, -50%);
		cursor:pointer;
		font-weight: 400;
		font-size: 26px;
		color:$colorGray;
	}
	.search__content__data__list{
		position: absolute;
		left: 0;
		box-sizing: border-box;
		border-radius: 4px;
		background: #272727;
		color: #d8d8d8;
		top: 45px;
		padding:20px 0;
		font-size: 18px;
		width: 100%;
		.search__content__data__list__items{
			max-height: 500px;
			overflow:auto;
			a{
				padding:  15px;
				display: block;
				transition: background .3s ease;
				&:first-child{
					margin-top: 0;
				}
				&:last-child{
					margin-bottom: 0;
				}
				&:hover{
					background: rgba(255,255,255,.1);
				}
			}

			.inner_header_content_searched{
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				.header_content_searched_img{
					img{
						width: 105px;
					    height: 150px;
						box-sizing: border-box;
					    -o-object-fit: cover;
					    object-fit: cover;
					    border-radius: 5px;
					}
				}
				.header_content_searched_about{
					margin-left: 15px;
					width: 100%;
					box-sizing: border-box;
					h3{
						font-size: 19px;
						font-weight: 400;
					}
					.header_content_searched_about_list{
						margin-top: 14px;
						display: -webkit-flex;
						display: -ms-flex;
						display: flex;
						p{
							margin-left: 10px;
							font-size: 15px;
							color: #a7a7a7;
							&:first-child{
								margin-left: 0;
							}
						}
					}
				}
			}
		}
	}

	input {
		padding: 12px 39px 11px 39px;
		border: 0;
		background: #272727;
		border-radius: 4px;
		color: $colorGray;
		font-size: 15px;
		width: 350px;
	}
	button {
		position: absolute;
		left: 21.5px;
		background-color: inherit;
		top: 50%;
		cursor: pointer;
		border: 0;
		font-weight: 200;
		bottom: 50%;
		transform: translate(-50%, -50%);
		width: 18px;
		height: 18px;
		fill: $colorGray;
	}
}
.header_account {
	margin-left: 40px;
	position: relative;
}
.header_account_avatar {
	display: flex;
	align-items: center;
	span {
		&:first-child {
			width: 32px;
			height: 32px;
			svg {
				width: 32px;
				height: 32px;
			}
		}
		&:last-child {
			width: 14px;
			height: 14px;
			margin-left: 8px;
			svg {
				width: 14px;
				height: 14px;
			}
		}
		svg {
			fill: #fff;
			cursor: pointer;
		}
	}
}
.header_account_info {
	display: none;
	min-width: 205px;
	line-height: 22px;
	position: absolute;
	z-index: 20;
	right: 0;
	border-radius: 4px;
	background-color: #040404e6;
	text-align: left;
	top: 50px;
	&:after {
		content: "";
		z-index: -1;
		width: 20px;
		height: 20px;
		position: absolute;
		right: 30px;
		top: -3px;
		background: #040404e6;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
}
.list_header_account_info_about {
	border-bottom: 1px solid #212121;
	.list_header_account_info_link {
		font-size: 15px;
	}
}
.list_header_account_info_link {
	font-size: 14px;
	display: block;
	color: #fff !important;
	padding: 12px 30px 13px 22px;
	transition: background .2s ease-in, color .1s ease-in;
}
.list_header_account_link_to_item_logout {
	a {
		display: flex;
		svg {
			width: 18px;
			height: 18px;
			fill: #3d3d3d;
			margin-right: 10px;
		}
	}
}
.list_header_account_link_to_item {
	&:not(.list_header_account_info_item) {
		&:hover {
			a {
				background: #04a49c;
				border-radius: 3px;
			}
		}
	}
}
footer {
	padding: 35px 0;
	background: #23232340;
	z-index: 20;
	width: 100%;
}
.inner_footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.list_footer_menu_desktop {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.list_footer_menu_desktop_item {
	&:first-child {
		margin-left: 0 !important;
	}
	margin-left: 35px;
	&:hover {
		.list_footer_menu_desktop_link {
			color: #04a49c;
		}
	}
}
.list_footer_menu_desktop_link {
	transition: color .3s ease;
	color: #fff;
	font-size: 18px;
	transition: color .3s ease;
}
.list_header_menu_desktop {
	display: flex;
}
.footer_info_site {
	display: flex;
	color: $colorGray;
}
.footer_info_site_release {
	margin-right: 30px;
}
.list_collection {
	margin-top: 85px;
	margin-bottom: 85px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.collection {
	margin: 15px 30px;
	width: 260px;
}

$splashBg:#23232340;
.splash_collection{
	margin: 15px 30px;
	.splash_collection_poster{
		background: $splashBg;
		min-width: 260px;
		min-height: 360px;
		border-radius: 6px;
	}
	.splash_collection_about_small_big{
		background: $splashBg;
		max-width: 120px;
		min-height: 20px;
		margin-top: 10px;
		border-radius: 6px;
	}
	.splash_collection_about_small{
		background: $splashBg;
		max-width: 60px;
		min-height: 20px;
		margin-top: 10px;
		border-radius: 6px;
	}
}

.link_collection {
	display: block;
	&:hover {
		.poster_collection {
			img {
				transform: scale(1.06);
			}
		}
		.headline_collection {
			color: #04a49c;
		}
	}
}
.poster_collection {
	position: relative;
	height: 360px;
	overflow: hidden;
	border-radius: 6px;
	img {
		width: 100%;
		height: 360px;
		object-fit: cover;
		transition: transform .6s ease;
	}
}
.headline_collection {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 15px;
	transition: color .3s ease;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.date_collection {
	color: $colorGray;
	font-size: 14px;
}
.info_collection_on_poster {
	bottom: 0;
	display: flex;
	position: absolute;
	width: 100%;
	justify-content: space-between;
	div {
		background: #0000009c;
	}
}
.rait_collection {
	padding: 4px;
	border-bottom-left-radius: 6px;
	border-top-right-radius: 6px;
	p {
		font-size: 13px;
	}
}
.average_collection {
	border-top-left-radius: 6px;
	border-bottom-right-radius: 6px;
	padding: 4px;
	p {
		font-size: 13px;
	}
}

.collection_top_side_view {
	position: relative;
	width: 100%;
	overflow: hidden;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	color: #fff;
	background-color: #2323235c;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-bottom: 45px;
}
.collection_top_side_view_img {
	min-width: 335px;
	border-bottom-left-radius: 10px;
	img {
		width: 335px;
		height: 100%;
		border-bottom-left-radius: 15px;
		object-fit: cover;
	}
}
.collection_top_side_view_txt {
	position: relative;
	width: 100%;
}
.collection_top_side_view_txt_headline {
	padding: 18px 20px 18px 20px;
	margin-top: 0 !important;
	background-color: #23232366;
	color: #fff;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	h1 {
		font-size: 26px;
		font-weight: normal;
		margin-right: 8px;
	}
	span {
		font-size: 14px;
		color: $colorGray;
		border-radius: 4px;
		border: 1px solid #333232;
		padding: 6.5px;
		vertical-align: middle;
	}
}
.collection_top_side_view_txt_about {
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 32px;
	line-height: 26px;
	div {
		margin-bottom: 12px;
		&:last-child {
			margin-bottom: 32px;
		}
	}
}
.collection_top_side_view_txt_genres {
	display: flex;
	p {
		&:first-child {
			margin-left: 0 !important;
		}
		margin-left: 5px;
	}
}
.collection_top_side_view_txt_companies {
	display: flex;
	p {
		&:first-child {
			margin-left: 0 !important;
		}
		margin-left: 5px;
	}
}
.collection_view {
	margin-top: 80px;
	margin-bottom: 80px;
}
.collection_top_side_view_txt_description {
	height: 161px;
	box-sizing: border-box;
	overflow: auto;
}
.collection_centered_side_view_tab_video {
	background-color: #2323235c;
	width: 100%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.collection_centered_side_view_tab_video_helper_top {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.collection_centered_side_view_tab_video_helper_top_players {
	padding: 20px 25px;
	background: #4443434d;
	transition: opacity .3s ease-in;
	&:hover {
		opacity: .7;
	}
}
.collection_centered_side_view_tab_video_helper_top_complaint {
	margin: 0 15px;
}
.collection_centered_side_view_tab_video_helper_top_icon_complaint {
	transition: opacity .3s ease-in-out;
	cursor: pointer;
	color: #fff;
	font-size: 18px;
	&:hover {
		opacity: .7;
	}
	>i {
		margin-right: 9px;
		font-size: 22px;
		color: #c10808;
	}
}
.collection_centered_side_view_tab_video_helper_bottom {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
	align-items: center;
}
.collection_centered_side_view_tab_video_helper_bottom_favorite_item {
	margin: 0 15px;
	font-size: 20px;
	transition: opacity .3s ease;
	cursor: pointer;
	color: #fff;
	>i {
		margin-left: 9px;
		transition: opacity .3s ease;
	}
	&:hover {
		>i {
			opacity: .7;
		}
	}
}
.collection_centered_side_view_tab_video_helper_bottom_social_item {
	margin: 0 15px;
	font-size: 18px;
	transition: opacity .3s ease;
	color: #fff;
	&:hover {
		opacity: .7;
	}
}
.navigation_collection {
	margin-top: 35px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.navigation_collection_page {
	font-size: 18px;
	background: #28282896;
	padding: 12px 18px;
	display: block;
	margin-right: 20px;
	transition: background .3s ease;
	&:hover {
		background: #3cafaad6;
	}
	&:last-child{
		margin-right: 0;
	}
}
.navigation_collection_page_disabled{
	pointer-events: none;
 	cursor: default;
	color:#545454;
}
.not_found_video {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
	color: #fff;
	font-size: 20px;
}
.search_not_found {
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	color: #fff;
	font-size: 24px;
}
.closed_site {
	text-align: center;
	color: #fff;
	h1 {
		margin-top: 50px;
		margin-bottom: 20px;
	}
}
.form_send {
	form {
		padding: 130px 40px 60px 40px;
		margin: 85px auto;
		width: 425px;
		background: #27272763;
		color: #fff;
		border-radius: 3px;
	}
}
.control_form {
	display: flex;
	flex-direction: column;
	margin-bottom: 25px;
	label {
		margin-bottom: 8px;
		font-size: 14px;
	}
	input[type="submit"] {
		border: none;
		padding: 15px 10px;
		border-radius: 3px;
		cursor: pointer;
		color: #fff;
		background-color: #04a49c;
		transition: background-color .3s linear;
	}
	&:hover {
		input[type="submit"] {
			background-color: #3adad3d6;
		}
	}
}
.input_control_form {
	border: 0;
	padding: 17px 27px;
	background: #272727;
	border-radius: 4px;
	color: #d8d8d8;
	font-size: 15px;
	letter-spacing: 1px;
}
.other_info_form {
	margin-top: 80px;
	text-align: center;
	a {
		font-size: 15px;
		padding-bottom: 2px;
		color: #d8d8d8;
		transition: color.3s linear;
		&:hover {
			color: #04a49c;
		}
	}
}
.other_info_form_link {
	display: flex;
	font-family: "Comfortaa",serif;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	span {
		color:$colorGray;
		font-size: 18px;
		transition: color .3s linear;
	}
	&:hover {
		span {
			color: #04a49c;
		}
		img {
			transform: rotate(180deg);
		}
	}
	img {
		transition: transform .3s linear;
		margin-right: 20px;
	}
}
.checkbox_control_form {
	flex-direction: row;
	justify-content: center;
	cursor: pointer;
	label {
		margin-left: 10px;
		user-select: none;
		cursor: pointer;
	}
}
.control_form_error_block {
	text-align: center;
}
.control_form_error {
	color: #ca4747;
	margin-top: 12px;
}
.profile_index {
	margin-top: 80px;
	margin-bottom: 80px;
}
.top_profile_index {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	color: #fff;
}
.btn_info_profile_index {
	padding: 15px 0;
	text-align: center;
	margin-top: 20px;
	border-radius: 3px;
	background: #272727;
	transition: background .3s ease;
	&:hover {
		background: #2f2f2f;
	}
}
.side_profile_index {
	&:first-child {
		margin-left: 0 !important;
	}
	background: #23232340;
	padding: 40px;
	margin-left: 40px;
}
.small_info_about_me_profile_index {
	margin-bottom: 20px;
}
.small_info_about_me_between_headline_profile_index {
	margin-bottom: 10px;
	p {
		color: $colorGray;
		font-size: 16px;
	}
}
.headline_profile_index {
	margin-bottom: 40px;
}
.img_profile_index {
	width: 250px;
	height: 250px;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		text-align: center;
		border-radius: 50%;
	}
}
.btns_info_profile_index {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}
.waitingSpin {
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 30;
	width: 100%;
	height: 100%;
	background: #141414;
}
.spinner {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	.blob {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		border: 2px solid #fff;
		width: 10px;
		height: 10px;
		border-radius: 50%;
	}
	.blob.top {
		top: 0;
		-webkit-animation: blob-top 1s infinite ease-in;
		animation: blob-top 1s infinite ease-in;
	}
	.blob.bottom {
		top: 100%;
		-webkit-animation: blob-bottom 1s infinite ease-in;
		animation: blob-bottom 1s infinite ease-in;
	}
	.blob.left {
		left: 0;
		-webkit-animation: blob-left 1s infinite ease-in;
		animation: blob-left 1s infinite ease-in;
	}
	.move-blob {
		background: #fff;
		top: 0;
		-webkit-animation: blob-spinner-mover 1s infinite ease-in;
		animation: blob-spinner-mover 1s infinite ease-in;
	}
}
::-webkit-scrollbar {
	width: 6px;
}
::-webkit-scrollbar-button {
	background: #333;
}
::-webkit-scrollbar-thumb {
	background-color: #6d6d6d;
	border-radius: 5px;
	&:hover {
		background-color: #04a49c;
	}
}
::-webkit-scrollbar-track {
	background: #333;
}
::selection {
	background: #04a49c;
	color: #e7ebee;
}
