@import url('https://fonts.googleapis.com/css?family=Montserrat|Comfortaa:wght@400;500&display=swap');
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	outline: 0;
	list-style: none;
}
body,html{
	font-family: 'Ubuntu',sans-serif;
	background: #16151a;
	/* background:url('/public/images/default/backgroundWrapper.png'); */
	font-size: 16px;
	height: 100%;
}
p,a,span,small,button,em,g,input,label,textarea{
	font-family: 'Comfortaa',"Montserrat",sans-serif;
	font-weight: normal;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Montserrat',sans-serif;
	font-weight: bold;
}
a{
	color:#fff;
}

.wrapper{
	display: table;
    height: 100%;
    width: 100%;
}
main{
	display: table-row;
    height: 100%;
}
.main_color_text_link{
	color:#04a49c;
}
.text_mont{
	font-family:"Montserrat",serif;
}
.default_text_box{
	margin-top: 35px;
	margin-bottom: 35px;
}
.default_text_box h1{
	color:#dadada;
	margin-bottom: 35px;
}
.default_text_box p{
	line-height: 27px;
	margin-bottom: 20px;
	color: #dadada;
}
.container{
	position: relative;
	max-width: 1280px;
	margin: 0 auto;
	padding-right: 15px;
	padding-left: 15px;
}
.beta{
		font-size: 12px;
    color: #dadada;
    text-transform: uppercase;
    background: #3e3e3e;
    border-radius: 3px;
    padding: 3px;
		margin-left: 5px;
		vertical-align: middle;
}
header{
	position: sticky;
    top: 0px;
    z-index: 25;
	padding: 25px 0;
	background: #23232340;
	transition: top .4s linear,background .4s linear;
}
.hideHeader {
    top: -90px;
    background: #040404e6;
}
.showHeader {
    top: 0px;
    background: #040404e6;
}

.header_icon_burger{
	display: none;
}
.burger_icon_mobile_menu{
	display: flex;
  align-items: center;
  position: relative;
  width: 26px;
  height: 26px;
	margin-right: 20px;
  cursor: pointer;
  z-index: 1;
}
#burger_icon_mobile_menu_check{
	display: none;
}
.burger_icon_mobile_menu > span,
.burger_icon_mobile_menu > span::before,
.burger_icon_mobile_menu > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}
.burger_icon_mobile_menu > span::before {
  content: '';
  top: -9px;
}
.burger_icon_mobile_menu > span::after {
  content: '';
  top: 9px;
}
.burger_icon_mobile_menu_open > span {
  transform: rotate(45deg);
}
.burger_icon_mobile_menu_open > span::before {
  top: 0;
  transform: rotate(0);
}
.burger_icon_mobile_menu_open > span::after {
  top: 0;
  transform: rotate(90deg);
}

.burger_icon_mobile_menu > span,
.burger_icon_mobile_menu > span::before,
.burger_icon_mobile_menu > span::after {
  transition-duration: .25s;
}

.burger_icon_mobile_menu {
  transition-duration: .25s;
}

.unite_header_burger_brand{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.inner_header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header_navbar_link{
	font-size: 32px;
	font-family:'PT Sans',sans-serif;
	color:#fff;
	transition: color .3s ease;
}
.header_navbar_link:hover{
	color:#04a49c;
}


.list_header_menu_desktop_item{
	margin: 0 10px;
}
.list_header_menu_desktop_item:hover .list_header_menu_desktop_link{
	color:#04a49c;
}

.list_header_menu_desktop_link{
	transition: color .3s ease;
	color:#fff;
	font-size: 18px;
}
.unite_header_search_accout{
	display: flex;
  align-items: center;
}
.header_search  input {
	padding: 12px 39px 12px 39px;
    border: 0;
    background: #272727;
    border-radius: 4px;
    color: #d8d8d8;
    font-size: 15px;
    width: 250px;
}
.header_search form{
	position: relative;
}
.header_search  button{
	position: absolute;
    left: 21.5px;
    background-color: inherit;
    top: 50%;
    cursor: pointer;
    border: 0;
    font-weight: 200;
    bottom: 50%;
    transform: translate(-50%, -50%);
    width:18px;
    height: 18px;
    fill: #808080;
}
.header_account{
	margin-left: 40px;
	position: relative;
}
.header_account_avatar{
	display: flex;
	align-items: center;
}
.header_account_avatar span:first-child{
	width:32px;
	height:32px;
}
.header_account_avatar span:last-child{
	width:14px;
	height:14px;
	margin-left: 8px;
}
.header_account_avatar span svg{
	fill:#fff;
	cursor: pointer;
}
.header_account_avatar span:first-child svg{
	width:32px;
	height:32px;
}
.header_account_avatar span:last-child svg{
	width:14px;
	height:14px;
}
.header_account_info{
	display: none;
    min-width: 205px;
	line-height: 22px;
    position: absolute;
    z-index: 20;
    right: 0;
    border-radius: 4px;
    background-color: #040404e6;
    text-align: left;
    top: 50px;
}
.header_account_info:after{
	content: "";
	z-index: -1;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 30px;
    top: -3px;
    background: #040404e6;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.list_header_account_info_about{
	border-bottom: 1px solid #212121;
}
.list_header_account_info_about .list_header_account_info_link{
	font-size: 15px;
}
.list_header_account_info_link{
	font-size: 14px;
    display: block;
    color: #fff!important;
    padding: 12px 30px 13px 22px;
    transition: background .2s ease-in, color .1s ease-in;
}
.list_header_account_link_to_item_logout a{
	display: flex;
}
.list_header_account_link_to_item_logout a svg{
	width:18px;
	height:18px;
	fill: #3d3d3d;
	margin-right: 10px;
}
.list_header_account_link_to_item:not(.list_header_account_info_item):hover a{
	background: #04a49c;
	border-radius:3px;
}



/*Footer*/
footer{
	padding: 35px 0;
	background: #23232340;
    z-index: 20;
    width: 100%;
}
.inner_footer,.list_footer_menu_desktop{
	display: flex;
    justify-content: space-between;
    align-items: center;
}
.list_footer_menu_desktop_item:first-child{
	margin-left: 0 !important;
}
.list_footer_menu_desktop_item{
	margin-left: 35px;
}
.list_footer_menu_desktop_link{
	transition: color .3s ease;
    color: #fff;
    font-size: 18px;
    transition:color .3s ease;
}
.list_header_menu_desktop,.footer_info_site{
	display: flex;
}
.footer_info_site{
	color: #b5b5b5;
}
.footer_info_site_release{
	margin-right: 30px;
}


.list_footer_menu_desktop_item:hover .list_footer_menu_desktop_link{
	color:#04a49c;
}



/*Collection*/
.list_collection{
	margin-top: 85px;
	margin-bottom: 85px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.collection{
	margin: 15px 30px;
	width: 260px;

}
.link_collection{
	display: block;
}
.poster_collection{
	position: relative;
	height: 360px;
}
.poster_collection img {
	border-radius:6px;
    width: 100%;
    height: 360px;
    object-fit: cover;
    transition:transform .3s ease;
}

.headline_collection{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 15px;
	transition:color .3s ease;
	overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.date_collection{
	color: #a6a6a6;
	font-size: 14px;
}
.info_collection_on_poster{
	bottom: 0;
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: space-between;
}
.info_collection_on_poster div {
	 background: #0000009c;
}
.rait_collection{
	padding: 4px;
	border-bottom-left-radius: 6px;
	border-top-right-radius: 6px;
}
.rait_collection p {
	font-size: 13px;
}
.average_collection{
	border-top-left-radius: 6px;
	border-bottom-right-radius: 6px;
	padding: 4px;
}
.average_collection p {
	font-size: 13px;
}


.link_collection:hover .poster_collection img {
	transform:scale(1.03);
}

.link_collection:hover .headline_collection{
	color:#04a49c;
}

/* Slider Collection */
.wrapper_list_slider_collection{
	margin-top: 40px;
	margin-bottom: 40px;
}
.arrows_navigation_collection_slider{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
}

.headline_info_slider_navigation h2{
	font-size: 18px;
	padding-bottom: 5px;
	text-transform: uppercase;
	font-weight: 700;
	border-bottom: 3px solid #6d6d6d;
	margin-right: 20px;
	position: relative;
	color: #cdcdcd;
}
.navigation_collection_slider{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	padding: 0 8px;
}
.arrow_navigation_slider_collection_right{
	margin-left: 22px;
}
.arrow_navigation_slider_collection {
	color: #cdcdcd;
  font-size: 36px;
  opacity: 1;
	cursor: pointer;
	transition: color .3s ease-in;
}
.arrow_navigation_slider_collection:hover{
	color:#04a49c;
}
.collection_slider{
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
	margin: 0 8px;
	max-width: 200px;
}
.poster_collection_slider{
	height: 250px;
}
.poster_collection_slider img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform .3s ease-in-out;
	border-radius: 3px;
}
.about_collection_slider{
	display: none;
}
.headline_collection_slider{
	font-size: 15px;
	color: #b9b9b9;
	overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
	margin-top: 14px;
	transition: color .3s ease;
}
.link_collection_slider{
	width: 100%;
	height: 100%;
}
.link_collection_slider:hover .headline_collection_slider{
	 color: #04a49c;
}
.link_collection_slider:hover .poster_collection_slider img{
	transform: scale(1.05);
}
/*Watch collection*/

.collection_top_side_view{
	position: relative;
    width: 100%;
    overflow: hidden;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    color: #fff;
    background-color: #2323235c;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
    margin-bottom: 45px;
}

.collection_top_side_view_img {
	border-bottom-left-radius: 10px;
}

.collection_top_side_view_img img {
		width: 335px;
    height: 100%;
		border-bottom-left-radius: 15px;
    object-fit: cover;
}

.collection_top_side_view_txt  {
    position: relative;
    width: 100%;
}

.collection_top_side_view_txt_headline  {
    padding: 18px 20px 18px 20px;
    margin-top: 0 !important;
    background-color: #23232366;
    font-size: 26px;
    color: #fff;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
}
.collection_top_side_view_txt_headline p {
	margin-right: 8px;
}
.collection_top_side_view_txt_headline span{
    font-size: 14px;
    color: #9e9d9d;
    border-radius: 4px;
    border: 1px solid #333232;
    padding: 6.5px;
    vertical-align: middle;
}
.collection_top_side_view_txt_about{
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 25px;
	line-height: 26px;
}
.collection_top_side_view_txt_about div {
	margin-bottom: 8px;
}
.collection_top_side_view_txt_about div:last-child{
	margin-bottom: 25px;
}
.collection_top_side_view_txt_genres,.collection_top_side_view_txt_companies{
	display: flex;
}
.collection_top_side_view_txt_genres p:first-child,.collection_top_side_view_txt_companies p:first-child{
	margin-left: 0 !important;
}
.collection_top_side_view_txt_genres p,.collection_top_side_view_txt_companies p {
	margin-left: 5px;
}
.collection_view{
	margin-top: 80px;
	margin-bottom: 80px;
}

.collection_top_side_view_txt_description {
	height: 161px;
    box-sizing: border-box;
    overflow: auto;
}

.collection_centered_side_view_tab_video{
    background-color: #2323235c;
    width: 100%;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
}
.collection_centered_side_view_tab_video_helper_top{
	width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.collection_centered_side_view_tab_video_helper_top_players {
    padding: 20px 25px;
    background: #4443434d;
    transition: opacity .3s ease-in;
}
.collection_centered_side_view_tab_video_helper_top_players:hover {
    opacity: .7;
}
.collection_centered_side_view_tab_video_helper_top_complaint{
    margin: 0 15px;
}
.collection_centered_side_view_tab_video_helper_top_icon_complaint{
	transition: opacity .3s ease-in-out;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
}
.collection_centered_side_view_tab_video_helper_top_icon_complaint:hover {
    opacity: .7;
}

.collection_centered_side_view_tab_video_helper_top_icon_complaint > i {
    margin-right: 9px;
    font-size: 22px;
    color: #c10808;
}
.collection_centered_side_view_tab_video_helper_bottom{
		width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
}


.collection_centered_side_view_tab_video_helper_bottom_favorite_item{
	margin: 0 15px;
    font-size: 20px;
    transition: opacity .3s ease;
    cursor: pointer;
    color: #fff;
}
.collection_centered_side_view_tab_video_helper_bottom_favorite_item > i {
    margin-left: 9px;
    transition: opacity .3s ease;
}

.collection_centered_side_view_tab_video_helper_bottom_favorite_item:hover > i {
    opacity: .7;
}
.collection_centered_side_view_tab_video_helper_bottom_social_item{
	margin: 0 15px;
    font-size: 18px;
    transition: opacity .3s ease;
    color: #fff;
}
.collection_centered_side_view_tab_video_helper_bottom_social_item:hover {
    opacity: .7;
}

/*Navigation Collection*/


.navigation_collection{
	margin-top: 35px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.navigation_collection_page{
	font-size: 20px;
    background: #28282896;
    padding: 10px 18px;
    display: block;
    margin-right: 10px;
    transition:background .3s ease;
}

.navigation_collection_active_page{
	font-size: 19px;
    background: #04a49c;
    padding: 10px 18px;
    display: block;
    margin-right: 10px;
    color:#fff;
}

.navigation_collection_page:hover{
	background:#3cafaad6;
}
.not_found_video{
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
	color:#fff;
	font-size: 20px;
}
.search_not_found{
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	color:#fff;
	font-size: 24px;
}
.closed_site{
	text-align: center;
	color:#fff;
}
.closed_site h1 {
	margin-top: 50px;
	margin-bottom: 20px;
}
/*Account*/

.form_send form{
    padding: 130px 40px 60px 40px;
    margin: 85px auto;
    width: 425px;
    background: #27272763;
    color: #fff;
    border-radius: 3px;
}
.control_form{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;

}
.control_form label {
    margin-bottom: 8px;
    font-size: 14px;
}

.input_control_form{
    border: 0;
    padding: 17px 27px;
    background: #272727;
    border-radius: 4px;
    color: #d8d8d8;
    font-size: 15px;
    letter-spacing: 1px;
}
textarea{
	resize: vertical;
}
.control_form input[type="submit"]{
    border:none;
    padding: 15px 10px;
    border-radius:3px;
    cursor: pointer;
    color:#fff;
    background-color: #04a49c;
    transition: background-color .3s linear;
}

.control_form:hover input[type="submit"]{
    background-color:#3adad3d6;
}
.other_info_form{
    margin-top: 80px;
    text-align: center;
}

.other_info_form a{
    font-size: 15px;
    padding-bottom: 2px;
    color: #d8d8d8;
    transition: color.3s linear;
}
.other_info_form a:hover{
    color:#04a49c;
}

.other_info_form_link{
    display: flex;
    font-family: "Comfortaa",serif;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
}
.other_info_form_link span{
    color:#565656;
    font-size: 18px;
    transition: color .3s linear;
}

.other_info_form_link:hover span{
    color:#04a49c;
}

.other_info_form_link:hover img{
    transform:rotate(180deg);
}
.other_info_form_link img {
    transition: transform .3s linear;
    margin-right: 20px;
}

.checkbox_control_form{
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
}
.checkbox_control_form label{
    margin-left: 10px;
    user-select: none;
    cursor: pointer;
}
.control_form_error_block{
    text-align: center;
}
.control_form_error{
    color: #ca4747;
    margin-top: 12px;
}

/* Profile */

.profile_index{
	margin-top: 80px;
	margin-bottom: 80px;
}
.top_profile_index{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	color:#fff;
}
.btn_info_profile_index{
	padding:15px 0;
	text-align: center;
	margin-top: 20px;
	border-radius:3px;
	background: #272727;
	transition: background .3s ease;
}

.btn_info_profile_index:hover{
	background:#2f2f2f;
}
.side_profile_index:first-child{
	margin-left: 0 !important;
}
.side_profile_index{
	background: #23232340;
	padding: 40px;
	margin-left: 40px;
}
.small_info_about_me_profile_index{
	margin-bottom: 20px;
}
.small_info_about_me_between_headline_profile_index{
	margin-bottom: 10px;
}
.small_info_about_me_between_headline_profile_index p {
	color:#696969;
	font-size: 16px;
}
.headline_profile_index{
	margin-bottom: 40px;
}
.img_profile_index{
	width: 250px;
	height: 250px;
}
.img_profile_index img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	text-align:center;
	border-radius:50%;
}

.btns_info_profile_index{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

/*Waiting spinner*/

.waitingSpin{
	text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    width: 100%;
    height: 100%;
    background: #141414;
}
.spinner {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.spinner .blob {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 2px solid #fff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.spinner .blob.top {
  top: 0;
  -webkit-animation: blob-top 1s infinite ease-in;
          animation: blob-top 1s infinite ease-in;
}
.spinner .blob.bottom {
  top: 100%;
  -webkit-animation: blob-bottom 1s infinite ease-in;
          animation: blob-bottom 1s infinite ease-in;
}
.spinner .blob.left {
  left: 0;
  -webkit-animation: blob-left 1s infinite ease-in;
          animation: blob-left 1s infinite ease-in;
}
.spinner .move-blob {
  background: #fff;
  top: 0;
  -webkit-animation: blob-spinner-mover 1s infinite ease-in;
          animation: blob-spinner-mover 1s infinite ease-in;
}

@-webkit-keyframes blob-bottom {
  25%, 50%, 75% {
    top: 50%;
    left: 100%;
  }
  100% {
    top: 0;
    left: 50%;
  }
}

@keyframes blob-bottom {
  25%, 50%, 75% {
    top: 50%;
    left: 100%;
  }
  100% {
    top: 0;
    left: 50%;
  }
}
@-webkit-keyframes blob-left {
  25% {
    top: 50%;
    left: 0;
  }
  50%, 100% {
    top: 100%;
    left: 50%;
  }
}
@keyframes blob-left {
  25% {
    top: 50%;
    left: 0;
  }
  50%, 100% {
    top: 100%;
    left: 50%;
  }
}
@-webkit-keyframes blob-top {
  50% {
    top: 0;
    left: 50%;
  }
  75%, 100% {
    top: 50%;
    left: 0;
  }
}
@keyframes blob-top {
  50% {
    top: 0;
    left: 50%;
  }
  75%, 100% {
    top: 50%;
    left: 0;
  }
}
@-webkit-keyframes blob-spinner-mover {
  0%, 100% {
    top: 0;
    left: 50%;
  }
  25% {
    top: 50%;
    left: 100%;
  }
  50% {
    top: 100%;
    left: 50%;
  }
  75% {
    top: 50%;
    left: 0;
  }
}
@keyframes blob-spinner-mover {
  0%, 100% {
    top: 0;
    left: 50%;
  }
  25% {
    top: 50%;
    left: 100%;
  }
  50% {
    top: 100%;
    left: 50%;
  }
  75% {
    top: 50%;
    left: 0;
  }
}

/* .spinner{
    width: 5em;
    position: absolute;
    height: 5em;
    background-color:  #04a49c;
    border-radius: 100%;
    -webkit-animation: pulses-anim 1.0s infinite ease-in-out;
    animation: pulses-anim 1.0s infinite ease-in-out;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
@keyframes pulses-anim {
	0%{
		-webkit-transform: scale(0);
    	transform: scale(0);
	}
	100%{
		-webkit-transform: scale(1);
	    transform: scale(1);
	    opacity: 0;
	}
} */
/*Scroll*/
::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-button {
	background: #333;
}
::-webkit-scrollbar-thumb {
	background-color: #6d6d6d;
	border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #04a49c;
}
::-webkit-scrollbar-track {
	background: #333;
}
::selection {
	background:#04a49c;
	color: #e7ebee;
}
