@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700|Montserrat|Comfortaa:wght@400;500&display=swap');
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	outline: 0;
	list-style: none;
}
body,html{
	font-family: 'Ubuntu',sans-serif;
	background:url('/public/images/default/backgroundWrapper.png');
	font-size: 16px;
	height: 100%;
}
p,a,span,small,button,em,g,input{
	font-family: 'Comfortaa',sans-serif;
	font-weight: normal;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'PT Sans',sans-serif;
	font-weight: bold;
}
a{
	color:#fff;
}

.wrapper{
	display: flex;
    flex-direction: column;
}
main{
	flex: 1 0 auto;
}
.text_mont{
	font-family:"Montserrat",serif;
}
.container{
	max-width: 1280px;
	margin: 0 auto;
	padding-right: 15px;
	padding-left: 15px;
}

header{
	position: sticky;
    top: 0px;
    z-index: 999;
	padding: 25px 0;
	background: #23232340;
	transition: top .4s linear,background .4s linear;
}
.hideHeader {
    top: -90px;
    background: #040404e6;
}
.showHeader {
    top: 0px;
    background: #040404e6;
}

.header_icon_burger{
	display: none;
}

.inner_header{
	line-height: 22px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header_navbar_link{
	font-size: 32px;
	font-family:'PT Sans',sans-serif;
	color:#fff;
	transition: color .3s ease;
}
.header_navbar_link:hover{
	color:#04a49c;
}
.list_header_menu_desktop{
	display: flex;
}

.list_header_menu_desktop_item{
	margin: 0 10px;
}
.list_header_menu_desktop_item:hover .list_header_menu_desktop_link{
	color:#04a49c;
}

.list_header_menu_desktop_link{
	transition: color .3s ease;
	color:#fff;
	font-size: 18px;
}

.header_search  input { 
	padding: 12px 39px 12px 39px;
    border: 0;
    background: #272727;
    border-radius: 4px;
    color: #d8d8d8;
    font-size: 15px;
    width: 250px;
}
.header_search form{
	position: relative;
}
.header_search  button{
	position: absolute;
    left: 21.5px;
    background-color: inherit;
    top: 50%;
    cursor: pointer;
    border: 0;
    font-weight: 200;
    bottom: 50%;
    transform: translate(-50%, -50%);
    width:18px;
    height: 18px;
    fill: #808080;
}
.header_account{
	position: relative;
}
.header_account_avatar{
	display: flex;
	align-items: center;
}
.header_account_avatar span:first-child{
	width:32px;
	height:32px;
}
.header_account_avatar span:last-child{
	width:14px;
	height:14px;
	margin-left: 8px;
}
.header_account_avatar span svg{
	fill:#fff;
	cursor: pointer;
}
.header_account_avatar span:first-child svg{
	width:32px;
	height:32px;
}
.header_account_avatar span:last-child svg{
	width:14px;
	height:14px;
}
.header_account_info{
	display: none;
	line-height: 22px;
    position: absolute;
    z-index: 20;
    right: 0;
    border-radius: 4px;
    background-color: #1f1f1f;
    text-align: left;
    top: 50px;
}
.header_account_info:after{
	content: "";
	z-index: -1;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 30px;
    top: -3px;
    background: #1f1f1f;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.list_header_account_info_about{
	border-bottom: 1px solid #3b3b3b;
}
.list_header_account_info_about .list_header_account_info_link{
	font-size: 15px;
}
.list_header_account_info_link{
	font-size: 14px;
    display: block;
    color: #fff!important;
    padding: 12px 30px 13px 22px;
    transition: background .2s ease-in, color .1s ease-in;
}
.list_header_account_link_to_item_logout a{
	display: flex;
}
.list_header_account_link_to_item_logout a svg{
	width:18px;
	height:18px;
	fill: #3d3d3d;
	margin-right: 10px;
}
.list_header_account_link_to_item:not(.list_header_account_info_item):hover a{
	background: #04a49c;
	border-radius:3px;
}  



/*Footer*/
footer{
	padding: 35px 0;
	background: #23232340;
    flex: 0 0 auto;
}
.inner_footer,.list_footer_menu_desktop{
	display: flex;
    justify-content: space-between;
    align-items: center;
}
.list_footer_menu_desktop_item:first-child{
	margin-left: 0 !important;
}
.list_footer_menu_desktop_item{
	margin-left: 35px;
}
.list_footer_menu_desktop_link{
	transition: color .3s ease;
    color: #fff;
    font-size: 18px;
    transition:color .3s ease;
}
.list_header_menu_desktop,.footer_info_site{
	display: flex;
}
.footer_info_site{
	color: #b5b5b5;
}
.footer_info_site_release{
	margin-right: 30px;
}


.list_footer_menu_desktop_item:hover .list_footer_menu_desktop_link{
	color:#04a49c;
}



/*Collection*/
.list_collection{
	margin-top: 85px;
	margin-bottom: 85px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.collection{
	margin: 15px 30px;
	width: 260px;

}
.link_collection{
	display: block;
}
.poster_collection{
	position: relative;
	height: 360px;
}
.poster_collection img {
	border-radius:6px;
    width: 100%;
    height: 360px;
    object-fit: cover;
    transition:transform .3s ease;
}
.about_collection{
	font-size: 15px;
}
.headline_collection{
	margin-top: 10px;
	margin-bottom: 10px;
	transition:color .3s ease;
}
.date_collection{
	color: #a6a6a6;
	font-size: 14px;
}   
.info_collection_on_poster{
	bottom: 0;
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: space-between;
}
.info_collection_on_poster div {
	 background: #0000009c;
}
.rait_collection{
	padding: 4px;
	border-bottom-left-radius: 6px;
	border-top-right-radius: 6px;
}
.rait_collection p {
	font-size: 13px;
}
.average_collection{
	border-top-left-radius: 6px;
	padding: 4px;
}
.average_collection p {
	font-size: 13px;
}


.link_collection:hover .poster_collection img {
	transform:scale(1.03);
}

.link_collection:hover .headline_collection{
	color:#04a49c;
}


/*Watch collection*/

.collection_top_side_view{
	position: relative;
    width: 100%;
    overflow: hidden;
    line-height: 26px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    color: #fff;
    background-color: #2323235c;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-bottom: 45px;
}

.collection_top_side_view_img {
    height: 495px;
}

.collection_top_side_view_img img {
    width: 325px;
    height: 487px;
    border: 4px solid #000;
}

.collection_top_side_view_txt  {
    position: relative;
    width: 100%;
}

.collection_top_side_view_txt_headline  {
    padding: 18px 20px 18px 20px;
    margin-top: 0 !important;
    margin-bottom: 25px;
    background-color: #23232366;
    font-size: 26px;
    color: #fff;
}
.collection_top_side_view_txt_headline span{
	margin-left: 8px;
    font-size: 14px;
    color: #9e9d9d;
    border-radius: 4px;
    border: 1px solid #333232;
    padding: 6.5px;
    vertical-align: middle;
}
.collection_top_side_view_txt_about{
	padding-left: 20px;
	padding-right: 20px;
}
.collection_top_side_view_txt_about div {
	margin-bottom: 8px;
}
.collection_top_side_view_txt_genres,.collection_top_side_view_txt_companies{
	display: flex;
}
.collection_top_side_view_txt_genres p:first-child,.collection_top_side_view_txt_companies p:first-child{
	margin-left: 0 !important;
}
.collection_top_side_view_txt_genres p,.collection_top_side_view_txt_companies p {
	margin-left: 5px;
}
.collection_view{
	margin-top: 80px;
	margin-bottom: 80px;
}

.collection_top_side_view_txt_description {
	height: 161px;
    box-sizing: border-box;
    overflow: auto;
} 

.collection_centered_side_view_tab_video{
    background-color: #2323235c;
    width: 100%;
}
.collection_centered_side_view_tab_video_helper_top{
	width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.collection_centered_side_view_tab_video_helper_top_players {
    padding: 20px 25px;
    background: #4443434d;
    transition: opacity .3s ease-in;
}
.collection_centered_side_view_tab_video_helper_top_players:hover {
    opacity: .7;
}
.collection_centered_side_view_tab_video_helper_top_complaint{
    margin: 0 15px;
}
.collection_centered_side_view_tab_video_helper_top_icon_complaint{
	transition: opacity .3s ease-in-out;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
}
.collection_centered_side_view_tab_video_helper_top_icon_complaint:hover {
    opacity: .7;
}

.collection_centered_side_view_tab_video_helper_top_icon_complaint > i {
    margin-right: 9px;
    font-size: 22px;
    color: #c10808;
}
.collection_centered_side_view_tab_video_helper_bottom{
	width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
}


.collection_centered_side_view_tab_video_helper_bottom_favorite_item{
	margin: 0 15px;
    font-size: 20px;
    transition: opacity .3s ease;
    cursor: pointer;
    color: #fff;
}
.collection_centered_side_view_tab_video_helper_bottom_favorite_item > i {
    margin-left: 9px;
    transition: opacity .3s ease;
}

.collection_centered_side_view_tab_video_helper_bottom_favorite_item:hover > i {
    opacity: .7;
}
.collection_centered_side_view_tab_video_helper_bottom_social_item{
	margin: 0 15px;
    font-size: 18px;
    transition: opacity .3s ease;
    color: #fff;
}
.collection_centered_side_view_tab_video_helper_bottom_social_item:hover {
    opacity: .7;
}

/*Navigation Collection*/


.navigation_collection{
	margin-top: 35px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.navigation_collection_page{
	font-size: 20px;
    background: #28282896;
    padding: 10px 18px;
    display: block;
    margin-right: 10px;
    transition:background .3s ease;
}

.navigation_collection_active_page{
	font-size: 19px;
    background: #04a49c;
    padding: 10px 18px;
    display: block;
    margin-right: 10px;
    color:#fff;
}

.navigation_collection_page:hover{
	background:#3cafaad6;
}
/*Waiting spinner*/

.waitingSpin{
	text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 25;
    width: 100%;
    height: 100%;
    background: #141414;
}
.spinner{
    width: 5em;
    position: absolute;
    height: 5em;
    background-color:  #04a49c;
    border-radius: 100%;
    -webkit-animation: pulses-anim 1.0s infinite ease-in-out;
    animation: pulses-anim 1.0s infinite ease-in-out;
    left: 46.5%;
    top: 42%;
    transform: translate(-50%, -50%);
}
@keyframes pulses-anim {
	0%{
		-webkit-transform: scale(0);
    	transform: scale(0);
	}
	100%{
		-webkit-transform: scale(1);
	    transform: scale(1);
	    opacity: 0;
	}
}
/*Scroll*/
::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-button {
	background: #333;
}
::-webkit-scrollbar-thumb {
	background-color: #6d6d6d;
	border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #04a49c;
}
::-webkit-scrollbar-track {
	background: #333;
}
::selection {
	background:#04a49c;
	color: #e7ebee;
}